<!DOCTYPE html>
<html>
  <head>
    <title>CRUD</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul>  
    <%= flash.each do |key, value| %>
    <li><%= value %></li>
    <%end%>
  <ul>
    <div >
      <div class="row">
        <div class="col-sm-3">
          <%= link_to "<i class='bi bi-arrow-left btn btn-secondary'></i>".html_safe, :back %>
        </div>
        <div class="col-11">
          <%= yield %>
        </div>
    </div>
  </body>
  <footer class="bg-light text-center text-lg-start">
    <div class='row'>
      <div class='navbar fixed-bottom'>
        <div class="col-sm-12 ">
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Sweet Smile© 
          </div>
        </div>
      </div>
    </div>
</footer>
</html>
